@import "./colors.rasi"

window {
    width:              20%;
    padding:            16px;
    border:             0px;
    border-radius:      16px;
    background-color:   @surface-container;
    font:               "SF Pro Display Medium 14";
}

listview {
    lines:              8;
    columns:            1;
    spacing:            6px;
    fixed-height:       false;
    layout:             vertical;
    background-color:   transparent;
}

mainbox {
    background-color:   transparent;
    spacing:            8px;
    padding:            0;
    margin:             0;
    children:           [ message, listview ];
}

message {
    background-color:   transparent;
    padding:            8px 12px 24px 12px;
}

textbox {
    font:               "SF Pro Display Bold 18";
    text-color:         @primary;
    background-color:   transparent;
    horizontal-align:   0.0;
}

listview {
    background-color:   transparent;
}



element {
    padding:            16px 12px;
    border-radius:      12px;
    orientation:        horizontal;
    background-color:   transparent;
}

element-icon {
    size:               1.5em;
    vertical-align:     0.5;
    margin:             0px 12px 0px 0px;
    background-color:   transparent;
}

element-text {
    font:               "SF Pro Display Bold 16";
    vertical-align:     0.5;
    background-color:   transparent;
    color:              @on-background;
}

element-text.selected {
    background-color:   transparent;
    color:              @on-primary-container;
}

element.selected {
    background-color:   @primary-container;
}


