@import "./colors.rasi"

configuration {
    kb-cancel: "Escape,MousePrimary";
    hover-select: true;
    display-drun: " ";
    display-dmenu: " ";
    prompt: " ";
}

window {
  width: 22%;
    padding:            16px;
    border-radius:      16px;
    background-color:   @background;
    anchor:             south;
    location:           south;
    y-offset:           -16px;
    grab-mouse:         true;
    click-to-exit:       true;
}

mainbox {
    background-color: transparent;
}

listview {
    lines: 6;
    columns:            1;
    spacing:            6px;
    fixed-height:       true;
    layout:             vertical;
    background-color:   transparent;
}


/* Each entry in the list */
element {
    padding:            10px 12px;
    border-radius:      12px;
    background-color:   transparent;
}

element-icon {
    size:               1.5em;
    horizontal-align:   0.5;
    vertical-align:     0.5;
    margin:             0px 15px 0px 0px;
    background-color:   transparent;
}

element-text {
    vertical-align:     0.5;
    background-color:   transparent;
    color:              @on-background;
    font:               "SF Pro Display Medium 14";
}

element-text.selected {
    background-color:   transparent;
    color: @inverse-surface;
}

element.selected {
    background-color:   @inverse-primary;
}

element.active {
    text-color: @secondary-container;
}
element-text.active {
    color: @primary;
}

element-text.selected.active {
    color: white;
}

inputbar {
    padding:            12px;
    margin:             0px 0px 20px 0px; /* Margin below the input bar */
    border-radius:      12px;
    background-color: @surface-variant;
    children:           [ prompt, entry ];
}

prompt {
    padding:            0px 8px 0px 0px;
    background-color:   transparent;
    text-color:         @outline;
}

entry {
    placeholder:        "Search your apps...";
    placeholder-color:  inherit;
    background-color:   transparent;
    text-color:         @outline;
}
