@import "./colors.rasi"

window {
    location: south;
    anchor: center;
    y-offset: -16px;
    width: 500px;
    padding: 16px;
    border: 0px;
    border-radius: 12px;
    background-color: @background;
}

listview {
    lines: 1;
    columns: 3;
    spacing: 8px;
    flow: horizontal;
    background-color: @background;
}

element {
    color: @on-background;
    border-radius: 12px;
    padding: 14px 12px;
    background-color: @background;
}

element.selected {
    padding: 14px 12px;
    background-color: @inverse-primary;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    color: @on-background;
    background-color: @background;
}

element-text.selected {
    color: @background;
    background-color: @inverse-primary;
}

inputbar {
    enabled: false;
}
