@theme "app-launcher-theme.rasi"

window {
    width: 500px;
    location: south;
    anchor: center;
    x-offset: 0px;
    y-offset: -16px;
}

inputbar {
    enabled: false;
}

mainbox {
    spacing: 8px;
    children: [ "message", "listview" ];
}

message {
    background-color: transparent;
    padding: 8px 12px 4px 12px;
}

textbox {
    font: "SF Pro Display Bold 20";
    color: @primary;
    background-color: transparent;
    horizontal-align: 0.0;
    vertical-align: 0.5;
}

listview {
    columns: 1;
    lines: 10;
    spacing: 4px;
    scrollbar: false;
    fixed-height: false;
}

element {
    padding: 14px 12px;
    children: [ element-text ];
    orientation: horizontal;
}

element-text {
    font: "lucide, SF Pro Display 16";
    expand: true;
    horizontal-align: 0.0;
    width: 100%;
}

element-text selected {
    horizontal-align: 0.0;
}
