@import url("/home/asif/.config/waybar/colors.css");
@import url("/home/asif/.config/waybar/weather/waybar-weather.css");

* {
  font-family: "SF Pro Display", "lucide", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
}

.modules-right {
  background: @background;
  padding: 5px;
  border-radius: 10px;
}

#workspaces {
  background-color: @background;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
}

#workspaces button {
  background-color: @surface_container_highest;
  margin: 0px 5px;
  color: @inverse_surface;
  border-radius: 10px;
  transition: margin 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
  border: none;
}

#workspaces button:hover {
  background: @surface_container;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}

#workspaces button.empty {
  background: transparent;
  color: @outline;
}

#workspaces button.empty:hover {
  box-shadow: none;
}

#workspaces button.active {
  background-color: @inverse_primary;
  color: @on_surface;
  padding: 0px 15px;
  border-radius: 10px;
}

#workspaces button.active:hover {
  color: @on_background;
  background: @inverse_primary;
  box-shadow: none;
}

#clock,
#custom-launcher {
  font-weight: bolder;
  background: @background;
  color: @on_background;
  padding: 0px 8px;
  border-radius: 10px;
}

#custom-launcher {
  font-size: 22px;
  color: #4b91bb;
  padding-left: 14px;
  margin-right: 10px;
}

#clock {
  margin-right: 10px;
}


#pulseaudio,
#network,
#bluetooth {
  background-color: @inverse_primary;
  color: @on_surface;
  padding: 0px 15px;
}

#custom-weather {
  border-radius: 8px;
  background-color: @background;
  color: @on_background;
  margin-right: 10px;
}

#network {
  border-radius: 8px 0 0 8px;
}

#pulseaudio {
  border-radius: 0 8px 8px 0;
}

#battery {
  margin-left: 10px;
  color: @on_background;
  margin-right: 5px;
}

#tray {
  background-color: @tertiary_container;
  color: @on_tertiary_container;
  border-radius: 8px;
  margin-right: 5px;
  padding: 0px 15px;
}

#window {
  background: @background;
  color: @on_background;
  padding: 0px 20px;
  border-radius: 10px;
}

#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}

#mpd {
  background-color: @background;
  color: @on_background;
  padding: 0px 15px;
  border-radius: 10px;
}

#mpd.playing {
  background-color: @inverse_primary;
  color: @on_surface;
}
