@import url("/home/asif/.config/waybar/colors.css");

* {
  font-family: "SF Pro Display", "lucide", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  border-radius: 10px;
  background-color: transparent;
}

.modules-right {
  background: @background;
  padding: 5px;
  border-radius: 10px;
}

#workspaces {
  background-color: @background;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 5px;
}

#workspaces button {
  background-color: @surface_container_highest;
  margin: 0px 5px;
  color: @inverse_surface;
  transition: margin 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
  border: none;
}

#workspaces button:hover {
  background: @inverse_surface_container;
  padding: 5px;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}

#workspaces button.empty {
  background: transparent;
  color: @surface_bright;
}

#workspaces button.empty:hover {
  box-shadow: none;
}

#workspaces button.active {
  background-color: @primary;
  color: @on_primary;
  padding: 0px 15px;
  border-radius: 10px;
}

#workspaces button.active:hover {
  color: @on_inverse_primary;
  background: @inverse_primary;
  box-shadow: none;
}

#clock,
#custom-launcher {
  background: @background;
  color: @primary;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 10px;
} 

#custom-launcher {
  font-size: 22px;
}

#custom-recording {
  border-radius: 10px;
  background-color: @secondary;
  color: @on_secondary;
  margin: 3px 0px;
  margin-right: 5px;
  padding: 0px 15px;
}

#pulseaudio,
#network,
#bluetooth {
  background-color: @primary;
  color: @on_primary;
  padding: 0px 15px;
}

#network {
  border-radius: 10px 0 0 10px;
}

#pulseaudio {
  border-radius: 0 10px 10px 0;
}

#battery {
  margin-left: 10px;
  color: @on_background;
  margin-right: 5px;
}

#tray {
  background-color: @tertiary_container;
  color: @on_tertiary_container;
  border-radius: 10px;
  margin: 3px 8px;
  padding: 0px 15px;
}

#window {
  background: @background;
  padding: 0px 20px;
  border-radius: 10px;
}

#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}
